
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="500px">
        <mat-grid-tile>
            <div class="registrationForm-container">
              <mat-form-field appearance="fill" class="width-100">
                <mat-label>Name</mat-label>
                <input matInput formControlName="firstName">
              </mat-form-field>
              <mat-form-field appearance="fill" class="width-100">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
              <mat-form-field appearance="fill" class="width-100">
                <mat-label>password</mat-label>
                <input matInput formControlName="password">
              </mat-form-field>
              <mat-form-field appearance="fill" class="width-100">
                <mat-label>Bio</mat-label>
                <input matInput formControlName="bio">
              </mat-form-field>
              <br/>
              <br/>
                <button mat-button color="primary">Register</button>
                <button mat-button color="accent">Cancel</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    </form>